/* body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.toggle-switch {
  width: 100px;
  height: 50px;
  border-radius: 25px;
  background-color: #ccc;
  position: relative;
  cursor: pointer;
  padding: 5px;
  margin-top: 5rem;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.switch {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  position: absolute;
  top: 5px;
  left: 5px;
  transition:
    tranform 0.3s linear,
    background-color 0.3s linear;
  border: 0.2rem solid #ccc;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.on {
  background-color: #4caf50;
  transform: translate(50px);
}

.off {
  background-color: #f44336;
  transform: translateX(0);
}

.switch-state {
  margin: 0 10px;
  text-transform: uppercase;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: #161616;
  color: azure;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle {
  height: 200px;
  width: 450px;
  border: 2px solid rgba(255, 255, 255, 0.453);
  border-radius: 100px;
  display: flex;
  align-items: center;
  padding: 20px;
  cursor: pointer;
}
.toggle .switch {
  background-color: antiquewhite;
  height: 150px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  font-family: cursive;
  border-radius: 50%;
  transition: all .5s ease-in-out;
}

.on{
   color: #008000bb;
   transform: translateX(250px);

  }
.off{
 color: tomato;
   transform: translateX(0);
}