* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: rgb(215, 214, 214);
}
button {
  color: rgb(40, 40, 40);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  font-size: 10px;
  /* color: rgb(43, 42, 42); */
  box-shadow: 0 0 -20px;
  /* background-color: rgb(76, 168, 124); */
  padding: 12px 18px;
  border-radius: 10px;
  border: none;
  outline: none;
  margin: 10px;
  transition: all 0.5s;
  cursor: pointer;
  user-select: none;
}
button:hover {
  background-color: rgb(76, 168, 124, 0.8);
}
button:active {
  scale: 0.95;
}
