html,body{
  height: 100%;
  width: 100%;
}
.container{
  height: 600px;
  width:600px;
  display: flex;
  gap: 1rem;
}
.box{
  height: 80px;
  width: 70px;
  background-color: rgb(122, 197, 122);
  border-radius: 10px;

   
}