.header{
    /* background-color: rgb(140, 233, 144); */
    padding: 10px 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(71, 59, 41);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 20px  #161661;
    transition: all 1.35s;
    color: #161661;



}
.header:hover{
    background-color: rgb(140, 233, 144);
}