* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  background-color: #161616;
  color: #f6f3f3;
  padding: 10px;  
 font-family: 'Courier New', Courier, monospace;
  font-weight: 300;
  
  
}
.container{
  background-color: #f6f3f3c3;
  border: 1px solid white ;
  padding: 10px 20px;
  width: fit-content;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  color: #161616;


}
form{
   padding: 5px 10px;
  width: fit-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  color: #161616;

}
form input{
  outline: none;
  background-color: #f6f3f3c3;
  border: none;
  padding: 10px;
  border-radius: 10px;
  color: #161616;

}
form button{
  padding: 8px 16px;
  border-radius: 10px;
  border: none;
  background-color: rgb(121, 236, 198);
  font-weight: 600;
  font-family: monospace;
  letter-spacing: -.8px;
  cursor: pointer;
}
form button:hover{
  background-color: rgb(121, 236, 198,.8);
}
form button:active{
  scale: .95;
}
.display{
  border: 1px solid white;
  margin-top: 40px;
  min-height: 68vh;
  
  background-color: #f6f3f32e;
  border-radius: 20px;
  padding: 20px 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  

}

.display h2{
  width: 30%;

  max-height: fit-content;
  border: 1px solid white;
  padding: 10px 20px;
  border-radius: 10px;background-color: #f6f3f3;
  color: #161616;
  display: flex;
  align-items: center;
  justify-content: space-between;
 }
 .display h2 span{
    font-size: 16px;
    color: tomato;
    cursor: pointer;
    text-transform: lowercase;
 }
