* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
.main {
  min-height: 100vh;
  height: 100%;
  width: 100%;
  background-color: #dadada;
  display: flex;
  padding: 20px;
  align-items: center;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

}
.card {
  height: 450px;
  width: 350px;

  border: 2px solid black;
  background-color: #ffff;
  color: #242424;
  padding: 20px;
  border-radius: 35px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.imagecontainer {
  height: 60%;
  width: 100%;
  background-color: #f0f0f0;
  position: relative;
  border: 2px solid #2c2c2c7d;
  border-radius: 25px;
  overflow: hidden;
}
.imagecontainer img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all 0.8s;
}
img:hover {
  scale: 1.02;
}
.imagecontainer .likecontainer {
  position: absolute;
  width: 93%;
  top: 13px;
  left: 13px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
}
.likecontainer h4 {
  background-color: #dadada81;
  border: 2px solid #2c2c2c7d;
  padding: 4px 8px;
  border-radius: 13px;
   font-size: 15px;
   font-weight: 450;
}
.imagecontainer .like {
  height: 35px;
  padding: 0;
  width: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.likecliked {
  color: red;
}

.details {
  width: 100%;
  display: flex;
  justify-self: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.details h2 {
  font-size: 18px;
  color: green;
  font-weight: 400;
}
.details h1 {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -1px;
}
.details p {
  letter-spacing: -1px;
  font-size: 18px;
  color: #2c2c2c;
}

button {
  background-color: #2c2c2c;
  cursor: pointer;
  color: #f9f9f9;
  padding: 10px 20px;
  font-size: 23px;
  letter-spacing: -1px;
  margin-top: auto;
  border-radius: 18px;
  transition: all .5s;
  outline: none;
  border: none;
}
button:hover{
  background-color: #2c2c2cdc;
}
