*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #161616;
  color: wheat;
  margin: 0;
  padding: 0;

}
.nav{
  display:  flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem ;
}
.logo{
  font-size: 2rem;
  font-weight: 500;
  font-family: fantasy;
}
ul{
  display: flex;
  gap: 1.5rem ;
  align-items: center;
}
li{
  list-style: none;
}
.home{
  height: 100vh;
  width: 100%;
  background-color: #fdfdfd;
  border-radius: 1rem;
  margin: 1rem;
  padding: 1rem 1.5rem ;
}


