* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
.main {
  height: 100vh;
  width: 100%;
  background-color: #161616;
  /* background-image: url(./assets/backgroundImage.webp); */
  background-size: cover;
  background-position: center;
  font-family: cursive;
  color: #dcdbdb;
}
.main .top {
  width: 100%;
  height: 30vh;
  /* background-color: aquamarine; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}
.top h2 {
  padding: 10px 20px;
  border: 2px solid #747474;
  border-radius: 10px;
  /* background-color: #161616; */
}
.top p {
  width: 40%;
  text-align: center;
  font-size: 16px;
  opacity: 0.75;
}
.top h1 {
  font-size: 50px;
}

.toggle {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
button {
  padding: 10px 20px;
  border: 1px solid whitesmoke;
  background-color: transparent;
  color: #dcdbdb;
  border-radius: 10px;
  transition: all 0.5s;
}
.yearly{
  background-color: #6bce8a;
  color:#161616;
}
.yearly:hover{
  background-color: #161616;
  color: #dcdbdb;
}
button:hover {
  background-color: #dcdbdb;
  color: #161616;
  cursor: pointer;
}

/* // price cards */
.pricecards {
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* background-color: rgb(124, 104, 76); */
}
.pricecards .card {
  margin-top: 10px;
  width: 25%;
  /* background-color: rgb(80, 118, 24); */
  height: 100%;
  padding: 20px 20px;
  border: 1px solid rgb(185, 183, 183);
  border-radius: 10px;
}
.card .cardtop {
  height: 30%;
  /* background-color: #16161668; */
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  flex-direction: column;
  border-bottom: 1px solid #161616;
}
.card .cardbottom ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  margin-top: 20px;
}
ul li {
  display: flex;
  /* flex-direction: column; */
  gap: 5px;
  align-items: center;
  font-size: 20px;
}