* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
.main {
  height: 100vh;
  width: 100%;
  background-color: #89986d;
  background-size: cover;
  background-position: center;
  font-family: cursive;
  color: #f6f0d7;
}
.main .top {
  width: 100%;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}
.top h2 {
  padding: 10px 20px;
  border: 2px solid #a8bba3;
  border-radius: 10px;
}
.top p {
  width: 40%;
  text-align: center;
  font-size: 16px;
  opacity: 0.75;
}
.top h1 {
  font-size: 50px;
}

.toggle {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
button {
  padding: 10px 20px;
  border: 1px solid whitesmoke;
  background-color: transparent;
  color: #f6f0d7;
  border-radius: 10px;
  transition: all 0.5s;
}
.selected {
  background-color: #6bce8a;
  color: #f6f0d7;
}
.selected:hover {
  background-color: #36a85a;
  color: #f6f0d7;
}
button:hover {
  background-color: #36a85a;
  color: #f6f0d7;
  cursor: pointer;
}

/* // price cards */
.pricecards {
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.pricecards .card {
  background-color: #9cab84;
  border: 1px solid #c5d89d;
  margin-top: 10px;
  width: 25%;
  height: 100%;
  padding: 20px 20px;
  border: 1px solid rgb(185, 183, 183);
  border-radius: 10px;
}
.card .cardtop {
  height: 30%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  flex-direction: column;
  border-bottom: 1px solid #f6f0d7;
}
.card .cardtop h4 {
  padding: 5px 10px;
  border: 1px solid #36a85a;
  border-radius: 10px;
  text-align: end;
  font-size: 20px;
  color: #f6f0d7;
}
.card .cardtop h2 {
  color: #16161690;
}
.card .cardbottom ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}
ul li {
  display: flex;
  gap: 5px;
  align-items: center;
  font-size: 20px;
}
