.btn {
  font-size: 20px;
  /* width: 250px; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 30px;
  /* background-color: aquamarine; */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 10px;
  /* border: 1px solid #161616; */
  box-shadow: 0 0 20px #432c2c;
  transition: all 1.5s;
  /* font-weight: 500; */

  color: #262622;
}
.btn:hover {
  background-color: rgb(250, 250, 194);
  color: #161616;
}
.btn:active{
    scale: .95;
}